@{
    ViewData["Title"] = "Final Project - Homepage";
}

<div class="text-center d-flex flex-column align-items-xl-center">
    <h1 class="display-4"><span class="bg-danger pb-md-2"><img src="https://instructure-uploads.s3.amazonaws.com/account_30000000001939/attachments/67480601/Cincy_Nav%20Logo.png" alt="University of Cincinnati logo" /></span>UC IT3047 - Final Project Spring 2021</h1>
    <p>
        The following is a web application dedicated to Video Games. 
    </p>
    <p>Completed in partial fulfillment of the course requirements for IT3047C: Web Server Application Development.
    </p>
    <p><em>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</em></p>
</div>
