@{
    ViewData["Title"] = "Final Project - Homepage";
}

<div class="text-center d-flex flex-column align-items-center justify-content-around">
    <h1 class="display-4 text-white">
        <span class="bg-danger d-flex align-items-center pr-1">
            <img src="https://instructure-uploads.s3.amazonaws.com/account_30000000001939/attachments/67480601/Cincy_Nav%20Logo.png" alt="University of Cincinnati logo" />
            &nbsp;IT3047 - Final Project Spring 2021
        </span>
    </h1>
    <p class="mt-2">
        The following is a web application dedicated to Video Games.
    </p>
    <p class="mt-2">
        Completed in partial fulfillment of the course requirements for IT3047C: Web Server Application Development.
    </p>
    <p class="justify-content-end mt-2"><em>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</em></p>
</div>
